.login {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.login-form {
    width: 50%;
    height: 100%;
    background-color: red;
}

.login-banner {
    width: 50%;
    height: 100%;
    background-color: green;
}